PHP_API_URL=http://localhost:8000/api/mensagem
EVOLUTION_API_KEY=sua_chave_secreta
EVOLUTION_URL=http://localhost:8080
WAHA_API_KEY=sua_chave_secreta
WAHA_URL_1=http://localhost:3001
WAHA_URL_2=http://localhost:3002
WAHA_URL_3=http://localhost:3003
WAHA_URL_4=http://localhost:3004
APP_URL=http://localhost:8000
FLASK_ENV=development
