APP_NAME="WhatsApp Marketplace SaaS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=marketplace_saas
DB_USERNAME=marketplace
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

PYTHON_SERVICE_URL=http://python:5000

SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis

BROADCAST_CONNECTION=log

SUPER_ADMIN_EMAIL=admin@plataforma.com

WAHA_URL=http://waha:3000
WAHA_API_KEY=sua_chave_aqui
