includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#contains unresolvable type#'
        - identifier: parameter.requiredAfterOptional
        - identifier: property.onlyWritten
        - identifier: greaterOrEqual.invalid
        - identifier: larastan.noEnvCallsOutsideOfConfig
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
